<div data-component="./components/molecules/site-header.html"></div>

<main id="top">
  <div data-component="./components/molecules/hero-section.html"></div>
  <div data-component="./components/molecules/restaurant-details.html"></div>
  <div data-component="./components/molecules/featured-menu.html"></div>

  <div class="page-layout">
    <div data-component="./components/molecules/menu-content.html"></div>
    <div data-component="./components/molecules/basket.html"></div>
  </div>
</main>

<div data-component="./components/molecules/site-footer.html"></div>
