<a class="basket-shortcut" href="#basket-title" data-basket-shortcut>
  <img src="./assets/icons/basket-icon.svg" alt="" width="22" height="22">
  <span data-basket-shortcut-label>Warenkorb leer</span>
</a>

<aside class="basket" aria-labelledby="basket-title">
  <div class="basket-head">
    <img src="./assets/icons/basket-icon.svg" alt="" width="34" height="34">
    <h2 id="basket-title">Dein Warenkorb</h2>
  </div>

  <div class="basket-items" data-basket-items></div>
  <div class="basket-summary" data-basket-summary></div>

  <button class="checkout-button" type="button" data-order-button>
    Bestellen
  </button>
  <p class="basket-message" data-basket-message></p>
</aside>
